<!-- Inserir data-url para configuração do iframe -->
<div
    role="podcast"
    class="podcast-container pod"
    data-url=""
>
    <div role="header" aria-label="Descrição do podcast" class="podcast-header">
        <!-- Informações do podcast -->
    </div>
    
    <div role="container" class="podcast-controls">
        <div class="progress-container">
            <div aria-label="Barra de progresso" class="progress-bar">
                <div class="progress"></div>
            </div>
            <div aria-label="Painel de duração" class="time-display">
                <span role="display" aria-label="Tempo atual" class="current">00:00</span>
                <span role="display" aria-label="Duração total" class="duration">0:00</span>
            </div>
        </div>
        
        <div aria-label="Controles de reprodução" class="playback-controls">
            <button role="rewind" aria-label="Botão +15 segundos" class="control-button rewind-button"></button>
            <button role="play" aria-label="Botão Play/Pause" class="control-button play-button"></button>
            <button role="forward" aria-label="Botão -15 segundos" class="control-button forward-button"></button>
        </div>
    </div>
</div>

<script src="./podcasts.js" type="module"></script>